@import '~milligram/dist/milligram.min.css';

body {
  margin: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button-black:active {
  color: inherit;
  background-color: inherit;
  border-color: inherit;
}

.button-black:hover {
  background-color: black;
}

.button-black {
  background-color: white;
  border-color: black;
  color: black;
  margin-top: 10px;
}